* {
    box-sizing: border-box;
}

li, a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

.header {
    background-image: url(../images/header-bg.jpg);
    min-height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.container {
    /* проверить значение контейнера */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.menu__list {
    display: flex;
    
}

.menu__list li + li{
   padding-left: 50px;
    
}

.login {
    margin-right: 44px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.menu__list a {
    opacity: 0.5;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s;
}

.menu__list a:hover {
    opacity: 1;
}

.sign-up {
    color: #250f8a;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #FFF;
    padding: 8px 43px;
    border-radius: 20px; 
}

/* slider-header */

.header-slider {
    padding-top: 111px;
    
}
.header-slider__item {
}
.header-slider__item-content {
    display: flex;
    justify-content: space-between;
}
.header-slider__item-info {
    max-width: 506px;
    color: #fff;
}
.header-slider__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    
    margin-bottom: 10px;
}
.header-slider__description {
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 50px;
}
.header-slider__btn {
    color: #250f8a;
    font-weight: 600;
    padding: 13px 39px;
    margin-bottom: 5px;  /* отступ от кнопки */
    background-color: #ffca00;
    border-radius: 25px;
}
.header-slider__item-images {
    margin-right: 82px;
    margin-top: 10px;
}

/* задаем стили для нашего авторского класса dots */
.header-dots {
    list-style: none;
    /* у нашего слайдера по умолчанию position: relative, поэтому */
    /* dots-ам сразу зададим absolute */
    position: absolute;
    right: 0; /*наши dots-ы переместятся в правую сторону*/
    /* поднимем их вверх */
    top: 50%;
    /* выставим по оси Y по центру */
    transform: translateY(-50%);
}

/* также нас не устраивуют стили прописанные button в li-ишках */

.header-dots button {
    border: none;
    background-color: #fff;
    opacity: 0.5;
    /* сделаем нулевой шрифт для цифр и их не будет */
    font-size: 0;
    /* также обнулим оставшиеся padding */
    padding: 0;
    /* теперь зададим параметры соответственно dots-ам макета */
    height: 7px;
    width: 7px;
    border-radius: 3.5px;
    cursor: pointer;
    /* уберем обводку */
    outline: none;
    /* к строчным эл-ам не всегда применяются блочные свойства
    button по умолчанию строчный эл-ент и margin: 0 auto не сработает 
    поэтому сделаем кнопку блочным эл-ом*/
    display: block; /*и все dots-ы прилипнут друг к другу*/
    margin: 0 auto;
    /* теперь оттолкнём их друг от друга */
    margin: 10px auto;
}

/* Как задать особый стиль активному dots?- в инспекторе элементов
кликнем по любому dots (li-ишки) и увидем что у его происан отличный от других класс
например slick-active */
.header-dots .slick-active button {
    width: 15px;
    opacity: 1;
}


/* section specialiced */

.specialiced {
    padding: 55px 0 93px;
    /* вставляем картинку, которая расположена вне контейнера
    а именно прижата слева к стенке */
    background-image: url(../images/special-bg.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #202020;
    text-align: center;
}

.specialiced__title {
    margin-bottom: 96px;
}
.title {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    text-align: center;
}
.specialiced__items {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}
.specialiced__item {
    width: 280px;
}
.specialiced__item-img {
    margin-bottom: 23px;
    min-height: 159px;
}
.specialiced__item-title {
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 700;
}
.specialiced__item-text {
    padding: 0 10px;
    color: #272727;
    opacity: 0.7;
}






/* section advantages */
.advantages {
    padding-top: 64px;
    background-color: #f4f4fd;
    background-image: url(../images/advantages--bg.svg);
    background-repeat: no-repeat;
    background-position: center right;
}



.advantages-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px;
}

.advantages-box--right .advantages-box__info {
    order: 1;
    background-image: url(../images/title-bg-2.svg);
    background-repeat: no-repeat;
    background-position: 22px 130px;
}

.advantages-box__info {
    max-width: 456px;
    padding-top: 60px;
    background-image: url(../images/title-bg-1.svg);
    background-repeat: no-repeat;
    background-position: 22px 76px;
}

.advantages-box__info--bg {
    background-image: url(../images/title-bg-3.svg);
    background-position: 5px 105px;
}

.advantages-box__title {
    color: #202020;
    padding-top: 68px;
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    padding: 68px 0 15px 48px;
}

.advantages-box__text {
    padding-left: 48px;
    color: #272727;

}

.advantages-box__text p {
    margin: 10px 0;
}

/* reviews */
.reviews {
    width: 1922px;
    height: 519px;
    margin: 0 auto;
    background-image: url(../images/reviews-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 38px 0 82px;
}

.reviews__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin: 0 auto 48px;
    max-width: 384px;
}

.reviews__items {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.reviews__item {
    width: 300px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .2);
    padding: 35px 20px;
    color: #FFF;
}

.reviews__item-head {
    margin-bottom: 13px;
    display: flex;
}

.reviews__item-head img {
    border-radius: 50%;
    margin-right: 20px;
}

.reviews__item-info {}

.reviews__item-name {
    font-weight: 600;
}

.reviews__item-position {
    opacity: 0.5;
}

.reviews__item-text {
    text-align: center;
    padding-top: 39px;
    position: relative;
}

.reviews__item-text::before {
    content: "“";
    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* footer */

.footer__inner {
    display: flex;
    justify-content: space-between;
    color: #272727;
    padding: 20px 40px 17px;
}

.footer__link a + a {
    margin-left: 20px;

}

/* adaptive */

@media (max-width: 1620px) {
    .advantages {
        background-image: none;
    }
}

@media (max-width: 1201px){
    .specialiced {
        /* воздействуем на картинку, которя находится вне контейнера */
        background-size: 60px;
    }
}

@media (max-width: 1190px){
    .header-slider__item-images {
        margin: 50px 20px 0 0;
    }
    .header-slider__item-images img {
        /* зададим уменьшение картинки слайдера */
        width: 80%;
    }
    .header-slider__item-info {
        padding: 50px 0;
    }
    .header-slider {
        padding-top: 25px;
    }

    .advantages-box__images img {
        width: 80%;
    }

    .advantages-box__images {
        text-align: center;
    }
    .advantages-box--right .advantages-box__title {
        padding: 30px 0 15px 20px;
    }
    .advantages-box--right .advantages-box__text {
        padding-left: 20px;
    }
    .advantages-box--right .advantages-box__info {
        padding-right: 30px;
    }
    .advantages-box {
        justify-content: space-around;
    }
}

@media (max-width: 1080px){
    .specialiced {
        /* отключим картинку */
        background-image: none;
    }
    .advantages-box__info {
        padding-top: 10px;
    }
    .advantages-box--right .advantages-box__info {
        padding-right: 10px;
    }
    .reviews__items {
        flex-wrap: wrap;
    }
    .reviews__item {
        width: 48%;
        margin-bottom: 25px;
    }
}

@media (max-width: 924px){
    .header__top {
        flex-wrap: wrap;
    }
    .header-btn {
        width: 100%;
        text-align: right;
    }
    .login {
        margin-right: 30px;
    }

}

@media (max-width: 900px){
    .header-slider__item-images {
        display: none;
    }
}

@media (max-width: 858px) {
    .advantages-box__info {
        max-width: 100%;
    }
    .advantages-box {
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .advantages-box--right .advantages-box__info {
        order: 0;
    }
    .advantages {
        padding-top: 0;
    }
}

@media (max-width: 775px){ 
    .specialiced {
        padding: 20px 0 40px;
    }
    .specialiced__title {
        margin-bottom: 40px;
    }
    .specialiced__items {
        flex-wrap: wrap;
    }
    .specialiced__item {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 686px) {
    .reviews__items {
        display: block;
    }
    .reviews__item {
        width: 100%;
        margin-bottom: 25px;
    }
    .reviews {
        padding-bottom: 38px;
    }
}

@media (max-width: 620px) {
    .footer__inner{
    display: block;
    text-align: center;
    padding: 20px 10px 17px;
    }
    .footer__link {
        margin-bottom: 10px;
    }
}



/* делаем реализацию бургер меню */
@media (max-width: 570px){
    .menu__list {
        display: none;
        /* преобразование после написания скрипта
        для открытия и закрытия бургер меню jquery */
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        text-align: center;
        /* но колонка меню получилась не совсем ровной, предыдущие стили - отступы, тому причина */
        /* зададим задний фон для всплывающего меня, для лучшей наглядности */
        background-color: #250f8a;
        /* поднимем наше меню, чтобы оно было выше нашего слайдера */
        z-index: 5;
    }
    /* через инспектор эл-ов найдем нужные классы и переопределим стили на нужные */
    .menu__list li + li {
        padding-left: 0;
        /* и теперь меню выстроилось как и было задумано */
    }

    /* расширим область для наших кнопок - ссылок
    чтобы на маленьких экранах было легче с ними сзаимодействовать */
    .menu__list a {
        cursor: pointer;
        display: block;
        padding: 10px 0;
    }
    .menu__btn {
        width: 30px;
        height: 20px;
        position: relative;
    }

    .menu__btn span {
        width: 100%;
        height: 2px;
        background-color: #fff;
        top: 9px;
        /* обязательно прописать для появления
        3-ей полоски в бургер меню  */
        position: absolute;
    }
    /* использовали псевдоэлементы, чтобы не писать 3 span-а */
    .menu__btn::after,
    .menu__btn::before {
        content: "" ;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
    }
    .menu__btn::after{
        top: 0;
    }
    .menu__btn::before {
        bottom: 0;
    }
    .header-slider__item-info {
        padding: 10px 30px 10px 0;
    }
    .header {
        min-height: 580px;
    }
    .header-slider__description {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 35px;
    }
    .header-slider__title {
        font-size: 35px;
        line-height: 45px;
    }

    /* выстраиваем наш контент в одну колонку */
    .specialiced__items {
        display: block;
    }
    .specialiced__item {
        width: 100%;
    }

    .title {
        font-size: 30px;
        line-height: 40px;
    }
    .advantages-box__title {
        font-size: 30px;
        line-height: 40px;
        padding: 68px 0 15px 0;
    }
    .advantages-box__text {
        padding-left: 0;
    }
    .advantages-box--right .advantages-box__title{
        padding: 30px 0 15px 0;
    }
    .advantages-box--right .advantages-box__text{
        padding-left: 0;
    }

}











/* после увеличения ширина экрана 571px и более у списка меню сохраняется инлайновый стиль - display:block, и нам его нужно перебить при помощи !important */
@media (min-width: 570px){
    .menu__list{
        display: flex !important;
    }
    
}





@media (max-width: 1000px){
    
}

@media (max-width: 1000px){
    
}